.view-library-search-view {

}

#views-exposed-form-library-search-page {
  margin-left:10%;
  margin-bottom: 50px;
  margin-top: 50px;
}

#edit-keyword {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
width:100%;
font-size:1.5em;
background-color: #fff;
background-image: none;
border: 1px solid #ccc;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.source-list-row {
  float:left;
  margin: 20px 20px 20px 20px;
}

.views-exposed-widget .views-submit-button {
font-size:1.5em;
}

#edit-submit-library-search{
  margin-top:0px !important;
  font-size:1.5em;
}

.search-block-provider {
  float: right;
  display:block;
}

.search-block-provider img {
  width:60px;
}

.search-block-keyword a {
  font-size: 1.0em;
  font-family: 'News Cycle', sans-serif;
}

.browse-block-subject {
  width:150px;
  height:150px;
}

.browse-block-subject a span{
  font-size: 1.0em;
  width: 100px;
  text-align:center;
  display:block;
  font-family: 'News Cycle', sans-serif;
}

.browse-block-subject a img {
  width:100px;
}

.browse-block-type {
  width:150px;
}

.browse-block-type a span{
  font-size: 1.0em; 
  width: 100px;
  text-align:center;
  display:block;
  font-family: 'News Cycle', sans-serif;
}

.browse-block-type a img {
  width:100px;
}


.block-facetapi {
border-top-right-radius: 0;
border-bottom-right-radius: 0;
width:100%;
background-color: #fff;
background-image: none;
border: 1px solid #eee;
border-radius: 4px;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
padding: 10px 10px 10px 10px;
font-family: 'News Cycle', sans-serif;
font-size: 1.1em;
margin-bottom:10px;
}

.block-facetapi h2 {
 cursor:hand;
 cursor:pointer;
}

.page-library-search .view-content {
  margin-top:20px;
}

a {
  color: #2a6496;
}

.grid-row {
	text-align:center;
	padding-bottom:50px;
}

.views-field-field-doc-provider {
	text-align:center;
}

/* line 99, ../scss/modules/_menus.scss */
.page-node-6 #section-header ul.primary li:nth-child(3n+1),
#section-header ul.menu li:nth-child(3n+1) {
  background-color: rgba(219, 51, 1, 0.3);
}

/* line 99, ../scss/modules/_menus.scss */
.page-node-6 #section-header ul.primary li:nth-child(3n+2),
#section-header ul.menu li:nth-child(3n+2) {
  background-color: rgba(157, 85, 63, 0.3);
}

/* line 99, ../scss/modules/_menus.scss */
.page-node-6 #section-header ul.primary li:nth-child(3n+3),
#section-header ul.menu li:nth-child(3n+3) {
  background-color: rgba(218, 66, 20, 0.3);
}


.page-node-6 #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}

.page-library-search #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}

.page-node-227 #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}

.page-node-23 #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}

.page-node-228 #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}

.page-library-sources #section-header {
  border-top: 0;
  background-color: #91594d;
  background-image: url(../images/header/rocky-land-medium.png);
}


/* line 11, ../scss/modules/_forms.scss */
.page-node-6 #section-header #block-search-form{
  display: none;
}

/* line 11, ../scss/modules/_forms.scss */
.page-node-227 #section-header #block-search-form{
  display: none;
}

/* line 11, ../scss/modules/_forms.scss */
.page-library-search #section-header #block-search-form{
  display: none;
}

/* line 11, ../scss/modules/_forms.scss */
.page-node-228 #section-header #block-search-form{
  display: none;
}

/* line 11, ../scss/modules/_forms.scss */
.page-node-23 #section-header #block-search-form{
  display: none;
}

.page-library-sources #section-header #block-search-form{
  display: none;
}


/* line 11, ../scss/modules/_forms.scss */
.page-node-6 #section-header #block-search-form{
  display: none;
}

#section-header #block-menu-menu-landlibrary-menu li {
  width: 16.65%;
}
